/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
{

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.logo{
  font-family:  'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 20px;
}
.under{
  font-family:  '', 'BlinkMacSystemFont', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: larger;
}
.topics{

  font-weight: 700;
  font-family: cursive;
  font-size: medium;
}
.right{
  font-family: cursive;
  font-size: small;
}
.rev{
  /* font-family: cursive; */
  margin-top: 2;
  /* font-weight: bold; */
}
.card{
  font-family: cursive;
  margin-top: 2;
  /* font-weight: bold; */
  color: #ef4444;
}

.link{
font-size: 13px;
font-weight: 500;
color: aliceblue;
font-family:  'Arial Narrow', Arial, sans-serif;
color: black;
text-transform: uppercase;
letter-spacing: 2px;
display: inline-block;


}
.link::after{
     content: '';
     display: block;
     width: 0%;
     height: 1.8px;
     background-color:#de6900 ;
     transition: width .3s;
}
.link:hover::after{
width: 100%;
}

.tab{

  display: inline-block;
  font-size: small;
}
.tab::after{

content: '';
     display: block;
     width: 0%;
     height: 1.8px;
     background-color:#de6900 ;
     transition: width .3s;
}
.tab:hover::after{
width: 100%;
}

.pol{
  font-family: cursive;
}
.red{
 font-size: large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vet{
  font-family:  sans-serif;
}
.ded{
  transition: all 0.3s ease-in-out;
}

.vet::placeholder{
  color: antiquewhite;
}